<launch>
  <node pkg="ultrasonic_multiple" type="ultrasonic_multiple" name="ultrasonic_multiple" output="screen">
  <param name="m_distanceLR_"     	value="0.352" />
  <param name="m_radius_"      		value="0.1"   />
  <param name="m_reduceratio_"     	value="25.0"  />
  <param name="linearXlimit_"       value="0.8"   />
  <param name="rotationlimit_"      value="1.5"   />
  <param name="odomPublish_Hz_"     value="1"     />
  </node>
</launch>